@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  margin-top: 120px;
}

#fullCard {
  background-color: white;
  width: 600px;
  height: 900px;
  margin: auto;
  border-radius: 20px;
}

#leftSuit,
#courtCard,
#rightSuit {
  height: 300px;
  font-size: 160px;
}

#leftSuit {
  margin-right: 70%;
}

#rightSuit {
  margin-left: 70%;
  transform: scale(1, -1);
}

#courtCard {
  padding: 5% 0 5% 0;
}
